* {
    margin: 0;
    padding: 0;
}
.main-page-container {

    background: url('../../../src/img/background-fruits.png') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
  
}

.main-page-logo > img {
    height: 50px;
    width: auto;
}

.main-page-nav-container {
    padding: 0 20px 0 20px;
    margin: 20px;
    width: 80%;
    height: 50px;
    background-color: #3D3D3D;
    border-radius: 50px;

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;

    position: fixed;
    z-index: 1000;
}

.main-page-container > nav{
    display: flex;
    justify-content: center;

}
.main-page-nav-information > a, .main-page-nav-auth > a {
    text-decoration: none;
    color: white;
    margin: 0 10px 0 10px 
}

.main-page-hero-section {
    margin-top: 10%;
    margin-left: 20%;
}

.main-page-hero-section > h1 {
    font-size: 56px;
}

.main-page-hero-section > button {
    padding: 15px;
    background-color: #578E7E;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;

}

